<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Travel Company</span>
            <h1>O lugar perfeito para encontrar a viagem dos seus sonhos</h1>
        </div>
        <img ngSrc="/assets/principal.png" width="669" height="536">
    </section>

    <section class="benefit-section pad-70">
        <benefit-card card-title="Buenos Aires" img-path="/assets/buenosaires.png" card-duration="Ida e volta"
            card-description="Saindo de São Paulo" card-price="R$ 1545">
        </benefit-card>
        <benefit-card card-title="Lisboa" img-path="/assets/lisboa.png" card-duration="Ida e volta"
            card-description="Saindo de São Paulo" card-price="R$ 3753">
        </benefit-card>
        <benefit-card card-title="Orlando" img-path="/assets/orlando.png" card-duration="Ida e volta"
            card-description="Saindo de São Paulo" card-price="R$ 2217">
        </benefit-card>
        <benefit-card card-title="Miami" img-path="/assets/miami.png" card-duration="Ida e volta"
            card-description="Saindo de São Paulo" card-price="R$ 2334">
        </benefit-card>
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                20% de desconto
            </h2>
        </div>
        <p>em <b>qualquer</b> passagem para conhecer o Brasil.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <newsletter-form></newsletter-form>
    <section class="benefit-section pad-70">
        <benefit-card card-title="Gramado" img-path="/assets/gramado.png" card-duration="6 dias / 5 noites"
            card-description="Saindo de São Paulo" card-price="R$ 1691">
        </benefit-card>
        <benefit-card card-title="São Paulo" img-path="/assets/saopaulo.png" card-duration="4 dias / 3 noites"
            card-description="Saindo de Rio de Janeiro" card-price="R$ 964">
        </benefit-card>
        <benefit-card card-title="Caldas Novas" img-path="/assets/caldasnovas.png" card-duration="5 dias / 4 noites"
            card-description="Saindo de São Paulo" card-price="R$ 616">
        </benefit-card>
        <benefit-card card-title="Brasília" img-path="/assets/brasilia.png" card-duration="5 dias / 4 noites"
            card-description="Saindo de São Paulo" card-price="R$ 1029">
        </benefit-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Quer descobrir mais opções <br>de passagens disponíveis no momento??</h2>
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <app-footer></app-footer>
</main>